/*Main CSS*/

/*Home Page*/

.user-dashboard {
    padding: 0 20px;
}


.sales {
    display: inline-block;
    padding: 15px;
    width: 100%;
}

.sales button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #dadee7;
    border-radius: 100px;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding-right: 32px;
    color: #0e1a35;
}

.sales button::before {
    content: "";
    font-family: FontAwesome;
    position: absolute;
    right: 12px;
    top: 11px;
}

.sales .btn-group {
    float: right;
}

.sales h2 {
    color: #8492af;
    float: left;
    font-size: 21px;
    font-weight: 600;
    margin: 0;
    padding: 9px 0 0;
}




#my-cool-chart svg {
    width: 100%;
}



@media only screen and (max-device-width: 767px) {

    .user-dashboard .sales h2 {
        color: #8492af;
        float: left;
        font-size: 1em;
        font-weight: 600;
        margin: 0;
        padding: 13px 0 0;
    }


    .user-dashboard .sales button {
        font-size: 11px;
        padding-right: 23px;
    }

    .user-dashboard .sales h2 {
        font-size: 12px;
    }

    .gutter {
        padding: 0;
    }
}




@media only screen and (min-device-width: 767px) and (max-device-width: 998px) {

    .user-dashboard .sales button {
        font-size: 10px;
    }

    .user-dashboard .sales h2 {
        font-size: 15px;
    }
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


